.vscode
__pycache__
*.so
bazel-*
*.egg-info
ignore/*
tutorials/.ipynb_checkpoints/
tutorials/trash
native/results
native/result
native/params
native/result_clmbr
native/trash
.ipynb_checkpoints/*
*.ipynb
