db_auth.json
.dmypy.json
.ipynb_checkpoints
__pycache__
.pytest_cache
piton.egg-info
output
build
dist
*.db
docs/_build
*.so
target
.nfs*
.DS_Store
._.DS_Store
.mypy_cache
bazel-*
numpy
python
tutorial/train
tutorial/dev
tutorial/test
*.npz
old
.vscode
distdir
