Checks: >
  -*,
  abseil-*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -google-runtime-references,
  -modernize-use-trailing-return-type,
  -readability-else-after-return,
  -bugprone-exception-escape,
