name: Run tests

on:
  push:
    branches:
     - main
  pull_request:
    branches:
     - main

jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        export BAZEL_USE_CPP_ONLY_TOOLCHAIN=1
        python -m pip install --upgrade pip
        python -m pip install pytest
        python -m pip install -e .
    - name: Python tests
      run: |
        pytest tests
    - name: C++ tests
      run: |
        cd native
        bazel test non_flaky_test
